
<nav class="col-md-7 navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="categoryNav">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li class="nav-item  mr-2">
                    <a class="nav-link" href="@Url.Action("Product", "Home")">Sản phẩm</a>
                </li>
                <li class="nav-item  mr-2">
                    <a class="nav-link" href="@Url.Action("News", "Home")">Tin tức</a>
                </li>
            </ul>
        </div>
    </div>
</nav>