
<div class="col-md-1 text-right d-flex align-items-center justify-content-start">
    <div class="position-relative">
        <a href="@Url.Action("Cart", "Home")" class="header-link">
            <i class="fas fa-shopping-cart"></i>
            <span id="cartItemCount" class="badge badge-secondary position-absolute">@ViewBag.TotalQuantity</span>
        </a>
    </div>

</div>
